In [40]:
import pandas as pd

# CSV 로드
df = pd.read_csv("dir/korea_person.csv")

# 컬럼명 통일
df.columns = ["age_group", "year", "population"]

wide = (
    df.pivot(index="year", columns="age_group", values="population")
    .sort_index()
)

age_flow = {
    "5~9": "10~14",
    "10~14": "15~19",
    "15~19": "20~24",
    "20~24": "25~29",
    "25~29": "30~34",
    "30~34": "35~39",
    "35~39": "40~44",
    "40~44": "45~49",
    "45~49": "50~54",
    "50~54": "55~59",
    "55~59": "60+",
    "60+": "60+"
}

wide

age_group,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
year,,,,,,,,,,,,,,
10~14,2955976,2809185,2663025,2459825,2349979,2350767,2325548,2299958,2337589,2364196,2357952,2330969,2324303,2295957
15~19,3491303,3420530,3325879,3257264,3131059,2953658,2805605,2659052,2455747,2345120,2345244,2320491,2294962,2332386
20~24,3319540,3405202,3488497,3557583,3541061,3486427,3414902,3319645,3249676,3121322,2941841,2794440,2647814,2444671
25~29,3307408,3184327,3153547,3141465,3217367,3324540,3409071,3490711,3556477,3534601,3475340,3403046,3307842,3237571
30~34,4062598,4086122,3917451,3731387,3517868,3311945,3189361,3158230,3145998,3216061,3317257,3399252,3479212,3543555
35~39,4106345,3929292,3894396,3939579,4016272,4056704,4080782,3912794,3727119,3507374,3298254,3176296,3145351,3132902
40~44,4639747,4599684,4528033,4396186,4212243,4091743,3916194,3882192,3926316,3992831,4026249,4049259,3882799,3698880
45~49,4196411,4320277,4402183,4462807,4584810,4611009,4572393,4501038,4368471,4173961,4046868,3872875,3840024,3883332
5-,2321293,2301320,2294304,2266781,2204271,2079115,1974244,1845122,1677023,1530469,1427590,1334588,1271776,1254501
50~54,4405468,4404070,4370591,4289141,4182392,4153396,4277593,4359591,4418728,4526822,4542072,4503660,4433119,4302050
55~59,3386102,3621186,3845570,4035650,4242269,4336808,4338291,4307786,4226286,4108389,4069992,4192039,4273251,4332022
5~9,2347418,2322614,2297070,2334907,2361897,2356083,2328818,2321792,2293047,2229881,2105052,1998304,1868342,1704722
60~64,2428603,2486668,2626763,2881662,3139076,3310243,3542849,3765035,3950469,4136749,4218037,4219699,4191644,4114007
65~69,1899933,1985888,2079345,2191617,2237345,2347021,2406790,2545616,2794037,3027963,3185502,3411009,3627139,3808271
70~74,1774343,1803037,1800922,1789894,1781229,1793132,1880192,1972502,2080134,2109712,2208256,2265989,2399923,2638817
75~79,1196000,1269763,1345682,1386543,1457890,1585974,1617744,1623542,1618112,1605372,1617461,1700214,1786674,1885457
80+,1109784,1192298,1294658,1407047,1519188,1629979,1745682,1885255,2003794,2107986,2256071,2353199,2443046,2508277

In [1]:
survival_rates = {}

for src, dst in age_flow.items():
    rates = []

    for year in wide.index:
        if year + 5 in wide.index:
            src_pop = wide.loc[year, src]
            dst_pop = wide.loc[year + 5, dst]

            if src_pop > 0:
                rates.append(dst_pop / src_pop)

    survival_rates[src] = sum(rates) / len(rates)

survival_rates

NameError: name 'age_flow' is not defined

In [ ]:
forecast_df = wide.copy()

for year in range(2025, 2031):
    forecast_df.loc[year] = forecast_df.loc[year - 1]

    for src, dst in age_flow.items():
        forecast_df.loc[year, dst] = int(
            forecast_df.loc[year - 1, src] * survival_rates[src]
        )